{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center" id="pane">
    <h1>About.</h1>
    <p class="lead"> This app works in 3 main steps:</p>
    <ol class="list-group text-center">
        <li>Chose which domain to crawl. If you enter a specific url the crawler will start to crawl from there.</li>
        <li>After finishing fetching the pdf or being interrupted this tool will perform table detection on the pdf.</li>
        <li>Finally you will be able to see the collected data on the Statistics page and it will be listed on the Dashboard.</li>
    </ol>
</div>
{% endblock %}
