{% extends 'layout.html' %}

{% block body %}
<div class="" id="pane">
    <h1 class="page-header"> Advanced</h1>
    <p class="lead"> Here you have access to some more advanced options:</p>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Clear Database
                </div>
                <div class="panel-body">
                    <p>This allows you to clear all data from the database, except for User login data. </p>
                    <p>This means that previously saved statistics for individual pdf will be recomputed. </p>
                    <br>
                </div>
                <div class="panel-footer">
                    <!-- Button trigger modal -->
                    <button class="btn btn-danger btn-outline btn-sm" data-toggle="modal" data-target="#modal-empty-tables">
                        <i class="fa  fa-gears "></i> Empty All Tables
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-empty-tables" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
                                </div>
                                <div class="modal-body">
                                    You are about to empty all tables containing all results from previous queries. This procedure is irreversible. Do you want to proceed?
                                </div>
                                <div class="modal-footer">
                                    <table>
                                        <tr>
                                            <td> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></td>
                                            <td>
                                                <a type="button" href={{url_for('empty_tables')}} class="btn btn-outline btn-danger btn-sm"><i class="fa  fa-gears "></i> Empty All Tables </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Terminate all running processes
                </div>
                <div class="panel-body">
                    <p>You can use this feature when you get error messages and can't start a new crawl. This
                        behavior might be normal if you quit the web page without waiting for the process termination.</p>
                    <p>Note that when terminating ongoing table-detection processes, the work done so far will be saved, so you won't lose much.</p>
                </div>
                <div class="panel-footer">
                    <!-- Button trigger modal -->
                    <button class="btn btn-danger btn-outline btn-sm" data-toggle="modal" data-target="#modal-terminate">
                        <i class="fa  fa-gears "></i> Free Ressources </a>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-terminate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Confirm Action</h4>
                                </div>
                                <div class="modal-body">
                                    You are about to terminate all running processes. This procedure is irreversible. Do you want to proceed?
                                </div>
                                <div class="modal-footer">
                                    <table>
                                        <tr>
                                            <td> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></td>
                                            <td>
                                                <a type="button" href={{url_for('terminate')}} class="btn btn-outline btn-danger btn-sm"><i class="fa  fa-gears "></i> Free Ressources </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Flower - Celery Monitoring Tool
                </div>
                <div class="panel-body">
                    <p>Use this tool to check progress of your queries if you closed the tab or something else went wrong.
                        You can also see if someone else is using resources and have access to some more statistics.</p>
                    <p>Note that you will need potentially different log-in credentials than for this application.</p>
                </div>
                <div class="panel-footer">
                    <a type="button" href='/flower/' class="btn btn-outline btn-success btn-sm"><i class="fa  fa-external-link "></i> Access Flower</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Download Application Logs
                </div>
                <div class="panel-body">
                    <p>The stdout and stderr output of the different services are stored in a log which can be downloaded here.</p>
                </div>
                <div class="panel-footer">
                    <a type="button" href={{url_for('log_download', lid='bar.out.log')}} class="btn btn-outline btn-primary btn-sm"><i class="fa  fa-download "></i> stdout </a>
                    <a type="button" href={{url_for('log_download', lid='bar.err.log')}} class="btn btn-outline btn-danger btn-sm"><i class="fa  fa-download "></i> stderr </a>
                    <a type="button" href={{url_for('log_download', lid='celery.log')}} class="btn btn-outline btn-success btn-sm"><i class="fa  fa-download "></i> Celery </a>
                    <a type="button" href={{url_for('log_download', lid='redis.log')}} class="btn btn-outline btn-info btn-sm"><i class="fa  fa-download "></i> Redis </a>
                    <a type="button" href={{url_for('log_download', lid='flower.log')}} class="btn btn-outline btn-warning btn-sm"><i class="fa  fa-download "></i> Flower </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Download entire log of Web Crawler
                </div>
                <div class="panel-body">
                    <p>Simple output of the WGET command used to crawl the websites.</p>
                    <br>
                </div>
                <div class="panel-footer">
                    <a type="button" href={{url_for('log_download', lid='wget.log')}} class="btn btn-outline btn-primary btn-sm"><i class="fa  fa-download "></i> Download </a>

                    <!-- Button trigger modal -->
                    <button class="btn btn-danger btn-outline btn-sm" data-toggle="modal" data-target="#modal-delete-log">
                        <i class="fa  fa-gear "></i> Empty Log
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-delete-log" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Confirm Action</h4>
                                </div>
                                <div class="modal-body">
                                    You are about to delete the entire Crawling log. This procedure is irreversible. Do you want to proceed?
                                </div>
                                <div class="modal-footer">
                                    <table>
                                        <tr>
                                            <td> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></td>
                                            <td>
                                                <a type="button" href={{url_for('log_delete', lid="wget.log")}} class="btn btn-outline btn-danger btn-sm"><i class="fa  fa-gear "></i> Empty Log </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
