{% extends 'layout.html' %}

 {% block headerscripts %}
<!-- DataTables CSS -->
<link href="../static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="../static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

<!-- Hide Vertical line -->
<style>
  .myGrid .webix_cell{
  border-right:0 none !important;
  }
</style>

{% endblock %}

{% block body %}

<h1>Dashboard <small> Welcome {{session.username}}</small></h1>
<a class="btn btn-success" href="/"> Re-run crawler</a>
<hr>

<div class="tab-content">
    <div class="tab-pane fade in active" id="previous">

        <table width="100%" class="table table-striped table-border table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Crawl-ID</th>
                    <th>Date</th>
                    <th>Domain</th>
                    <th>URL</th>
                    <th>PDF found</th>
                    <th>PDF processed</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for crawl in crawls %}
                  <tr>
                    <td>{{crawl.cid}}</td>
                    <td>{{crawl.crawl_date}}</td>
                    <td>{{crawl.domain}}</td>
                    <td>{{crawl.url}}</td>
                    <td>{{crawl.pdf_crawled}}</td>
                    <td>{{crawl.pdf_processed}}</td>
                    <td><a href="{{url_for('cid_statistics', cid=crawl.cid)}}" class="btn btn-primary">View Stats</a></td>
                    <td>
                        <!-- Button trigger modal -->
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modal{{crawl.cid}}">
                            Delete
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal{{crawl.cid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                    </div>
                                    <div class="modal-body">
                                        You are about to delete the statistics of this Crawl, this procedure is irreversible. Do you want to proceed?
                                    </div>
                                    <div class="modal-footer">
                                        <table>
                                            <tr>
                                                <td> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></td>
                                                <td> <form action="{{url_for('delete_crawl')}}" method="POST">
                                                        <input type="hidden" name="cid" value="{{crawl.cid}}">
                                                        <input type="submit" value="Delete" class="btn btn-danger">
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>

    <!-- Option to add more statistics -> idea abandonned -->
    <div class="tab-pane fade" style="display: none" id="overall">
        <div class="row">
            <br>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-gear fa-fw"></i> Some numbers
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-search fa-fw"></i> Number of queries
                                <span class="pull-right text-muted small"><em>{{end_time}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-clock-o  fa-fw"></i> Total crawling duration
                                <span class="pull-right text-muted small"><em>{{crawl_total_time}} minutes</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-clock-o  fa-fw"></i> Total processing duration
                                <span class="pull-right text-muted small"><em>{{proc_total_time}} minutes</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-file-pdf-o fa-fw"></i> Overall Oldest PDF
                                <span class="pull-right text-muted small"><em>{{oldest_pdf}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-file-pdf-o fa-fw"></i> Overall most recent PDF
                                <span class="pull-right text-muted small"><em>{{most_recent_pdf}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-navicon  fa-fw"></i> Total small Tables found
                                <span class="pull-right text-muted small"><em>{{small_tables}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-th fa-fw"></i> Total medium Tables found
                                <span class="pull-right text-muted small"><em>{{medium_tables}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-th-large  fa-fw"></i> Total large Tables found
                                <span class="pull-right text-muted small"><em>{{large_tables}}</em>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-gear fa-fw"></i> Some ideas for other stats
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <ul>
                                <li>Pie Chart that shows how many times each domain was crawled</li>
                                <li>Same Pie Charts as in Stats but with totals taken over all crawls</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="geo"></div>
</div>


{% block addscripts %}
<!-- DataTables JavaScript -->
<script src="../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../static/vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/dist/js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable({
        responsive: true
    });
});
</script>

<!-- Tooltip script -->
<script>

    // tooltip animation
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    // popover animation
    $("[data-toggle=popover]")
        .popover()
</script>
{% endblock %}



{% endblock %}
