{% extends 'layout.html' %}

{% block body %}
<h1>Dashboard <small> Welcome {{session.username}}</small></h1>
<a class="btn btn-success" href="/"> Re-run crawler</a>
<hr>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#previous" data-toggle="tab">Previous Crawls</a>
    </li>
    <li><a href="#overall" data-toggle="tab">Overall Crawl Statistics</a>
    </li>
    <li><a href="#geo" data-toggle="tab">Geo Map</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="previous">
        <table class="table table-striped">
<tr>
  <th>Crawl-ID</th>
  <th>Date</th>
  <th>Domain</th>
  <th>URL</th>
  <th>PDF found</th>
  <th>PDF processed</th>
  <th></th>
  <th></th>
</tr>
{% for crawl in crawls %}
  <tr>
    <td>{{crawl.cid}}</td>
    <td>{{crawl.crawl_date}}</td>
    <td>{{crawl.domain}}</td>
    <td>{{crawl.url}}</td>
    <td>{{crawl.pdf_crawled}}</td>
    <td>{{crawl.pdf_processed}}</td>
    <td><a href="{{url_for('cid_statistics', cid=crawl.cid)}}" class="btn btn-primary pull-right">View Stats</a></td>
    <td>
      <form action="{{url_for('delete_crawl')}}" method="POST">
        <input type="hidden" name="cid" value="{{crawl.cid}}">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
    </td>
  </tr>
{% endfor %}
</table>
    </div>
    <div class="tab-pane fade" id="overall">
    </div>
    <div class="tab-pane fade" id="geo">
    </div>
</div>
{% endblock %}
