{% extends 'layout.html' %}

{% block body %}
<h1>Dashboard <small> Welcome {{session.username}}</small></h1>
<a class="btn btn-success" href="/"> Re-run crawler</a>
<hr>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#previous" data-toggle="tab">Previous Crawls</a>
    </li>
    <li><a href="#overall" data-toggle="tab">Overall Crawl Statistics</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="previous">
        <table class="table table-striped">
            <tr>
              <th>Crawl-ID</th>
              <th>Date</th>
              <th>Domain</th>
              <th>URL</th>
              <th>PDF found</th>
              <th>PDF processed</th>
              <th></th>
              <th></th>
            </tr>
            {% for crawl in crawls %}
              <tr>
                <td>{{crawl.cid}}</td>
                <td>{{crawl.crawl_date}}</td>
                <td>{{crawl.domain}}</td>
                <td>{{crawl.url}}</td>
                <td>{{crawl.pdf_crawled}}</td>
                <td>{{crawl.pdf_processed}}</td>
                <td><a href="{{url_for('cid_statistics', cid=crawl.cid)}}" class="btn btn-primary pull-right">View Stats</a></td>
                <td>
                    <!-- Button trigger modal -->
                    <button class="btn btn-danger" data-toggle="modal" data-target="#modal{{crawl.cid}}">
                        Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal{{crawl.cid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                </div>
                                <div class="modal-body">
                                    You are about to delete the statistics of this Crawl, this procedure is irreversible. Do you want to proceed?
                                </div>
                                <div class="modal-footer">
                                    <table>
                                        <tr>
                                            <td> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></td>
                                            <td> <form action="{{url_for('delete_crawl')}}" method="POST">
                                                    <input type="hidden" name="cid" value="{{crawl.cid}}">
                                                    <input type="submit" value="Delete" class="btn btn-danger">
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->



                </td>
              </tr>
            {% endfor %}
        </table>
    </div>
    <div class="tab-pane fade" id="overall">
        <div class="row">
            <br>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-gear fa-fw"></i> Some numbers
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-search fa-fw"></i> Number of queries
                                <span class="pull-right text-muted small"><em>{{end_time}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-clock-o  fa-fw"></i> Total crawling duration
                                <span class="pull-right text-muted small"><em>{{crawl_total_time}} minutes</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-clock-o  fa-fw"></i> Total processing duration
                                <span class="pull-right text-muted small"><em>{{proc_total_time}} minutes</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-file-pdf-o fa-fw"></i> Overall Oldest PDF
                                <span class="pull-right text-muted small"><em>{{oldest_pdf}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-file-pdf-o fa-fw"></i> Overall most recent PDF
                                <span class="pull-right text-muted small"><em>{{most_recent_pdf}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-navicon  fa-fw"></i> Total small Tables found
                                <span class="pull-right text-muted small"><em>{{small_tables}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-th fa-fw"></i> Total medium Tables found
                                <span class="pull-right text-muted small"><em>{{medium_tables}}</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-th-large  fa-fw"></i> Total large Tables found
                                <span class="pull-right text-muted small"><em>{{large_tables}}</em>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-gear fa-fw"></i> Some ideas for other stats
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <ul>
                                <li>Pie Chart that shows how many times each domain was crawled</li>
                                <li>Same Pie Charts as in Stats but with totals taken over all crawls</li>
                                <li></li>

                            </ul>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="geo">
    </div>
</div>


<script>
    // tooltip demo
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    // popover demo
    $("[data-toggle=popover]")
        .popover()
</script>

{% endblock %}
