{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center" id="pane">
    <h1>Table Detection</h1>
    <p><strong>{{n_files}}</strong> PDF were collected from domain: <strong>{{domain}}</strong></p>

    <p> Our method has found <strong>{{n_tables}}</strong> tables inside the crawled files.</p>
    <p> There were <strong>{{n_errors}}</strong> PDF file(s) that could not be analysed.</p>

    <a href="/" class="btn btn-primary btn-lg">Take me back to the start</a>

    <div/>
{% endblock %}
