{% extends 'layout.html' %}

{% block body %}
<h1 class="page-header"> Welcome to the PDF Crawl App</h1>
<div class=" col-lg-8 well">
{% if session.logged_in == NULL %}
  <p class="lead">Log in to be able to crawl a domain.</p>
  <a href="/register" class="btn btn-primary btn-lg">Register</a>
  <a href="/login" class="btn btn-success btn-lg">Login</a>
{% endif %}

{% if session.logged_in != NULL %}
  <p class="lead">Please select which URL to crawl: </p>
  <form action="" method="POST">
    <div class="form-group ">
        <label>URL</label>
        <input type="text" name="url" class="form-control" value='https://www.bit.admin.ch'>
        <!-- <input type="text" name="url" class="form-control" value={{request.form.url}}> -->
        </div>
        <button id="crawl-btn" type="crawl" class="btn btn-primary btn-lg btn-block">Crawl</button>
        <a id="recent-btn" href={{most_recent_url}}} style="display:none;" type="crawl" class="btn btn-success btn-lg btn-block">View most recent crawl statistics of this domain</a>
  </form>

{% endif %}

</div>

 <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                How this tool works:
            </div>
            <div class="panel-body">
                <ol>
                    <li>Chose which domain to crawl. If you enter a specific url the crawler will start to crawl from there.</li>
                    <li>After finishing fetching the pdf or being interrupted this tool will perform table detection on the pdf.</li>
                    <li>Finally you will be able to see the collected data on the Stats page.</li>
                </ol>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->

{% endblock %}

{% block addscripts %}
<script>
    $(document).ready(function() {
        if ("{{most_recent_url}}" != "none") {
            document.getElementById("crawl-btn").innerHTML = "Crawl Again"
            document.getElementById("recent-btn").style.display = "block";
            console.log("heeelllooo")
        }
        console.log("if did not succeed")
    });
</script>
{% endblock %}