{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To the PDF Crawl App</h1>
    {% if session.logged_in == NULL %}
      <p class="lead">Log in to be able to crawl a domain.</p>
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}

    {% if session.logged_in != NULL %}
      <p class="lead">Please select which URL to crawl: </p>
      <form action="" method="POST">
        <div class="form-group">
          <label>URL (ex: https://www.bit.admin.ch)</label>
          <input type="text" name="url" class="form-control" value='https://www.bit.admin.ch'>
          <!-- <input type="text" name="url" class="form-control" value={{request.form.url}}> -->
        </div>
        <button type="crawl" class="btn btn-primary btn-lg">Crawl</button>
      </form>

    {% endif %}

  </div>

{% endblock %}
