{% extends 'layout.html' %}

{% block body %}
<h1 class="page-header"> Statistics
    <div class="pull-right"> {{domain}}</div>
</h1>
<div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-pdf-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_success}} / {{n_files}}</div>
                            <div>PDF analysed / PDF crawled</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_tables}}</div>
                            <div>Tables found</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-align-justify fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_rows}}</div>
                            <div>Total Table Rows</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-times-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_errors}}</div>
                            <div>PDF processing errors</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Processed files (Larger radius indicates more pages)
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <canvas id = "bubble"></canvas>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-gear fa-fw"></i> Additional Statistics: raw numbers
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-search fa-fw"></i> Finished at
                            <span class="pull-right text-muted small"><em>{{end_time}}</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-clock-o  fa-fw"></i> Crawling duration
                            <span class="pull-right text-muted small"><em>{{crawl_total_time}} minutes</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-clock-o  fa-fw"></i> Processing duration
                            <span class="pull-right text-muted small"><em>{{proc_total_time}} minutes</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-file-pdf-o fa-fw"></i> Oldest PDF
                            <span class="pull-right text-muted small"><em>{{oldest_pdf}}</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-file-pdf-o fa-fw"></i> Most recent PDF
                            <span class="pull-right text-muted small"><em>{{most_recent_pdf}}</em>
                            </span>
                        </a>
                        <button class="list-group-item" data-container="body" data-toggle="popover" data-placement="left" data-content="Tables with 10 rows or less">
                            <i class="fa fa-navicon  fa-fw" ></i> Small Tables found
                            <i class="fa fa-info-circle  fa-fw" ></i>
                            <span class="pull-right text-muted small "><em>{{small_tables}}</em>
                            </span>
                        </button>
                        <button class="list-group-item" data-container="body" data-toggle="popover" data-placement="left" data-content="Tables with 20 rows or less">
                            <i class="fa fa-th fa-fw"></i> Medium Tables found
                            <i class="fa fa-info-circle  fa-fw" ></i>
                            <span class="pull-right text-muted small"><em>{{medium_tables}}</em>
                            </span>
                        </button>
                        <button class="list-group-item" data-container="body" data-toggle="popover" data-placement="left" data-content="Tables with more than 20 rows">
                            <i class="fa fa-th-large  fa-fw"></i> Large Tables found
                            <i class="fa fa-info-circle  fa-fw" ></i>
                            <span class="pull-right text-muted small"><em>{{large_tables}}</em>
                            </span>
                        </button>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
<div class="row">
  <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Tables Sizes
          </div>
          <div class="panel-body">
              <canvas id = "donut1"></canvas>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Table Pages vs Text only Pages
          </div>
          <div class="panel-body">
              <canvas id = "donut2"></canvas>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Total PDF with Tables
          </div>
          <div class="panel-body">
              <canvas id = "donut3"></canvas>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Website Hierarchy
                <button onclick="expandAll()">Expand All</button>
                <button onclick="collapseAll()">Collapse All</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id = "hierarchy"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<!-- Chart.js JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>

    /*
    Constants
     */
    var stats = {{ stats|safe }};
    var baseColors = [[51, 122, 183], [92, 184, 92], [240, 173, 78], [217, 83, 79]];

    /*
     *  CHART 1 : Donut TABLE SIZE
     */
    var ctx = document.getElementById('donut1').getContext('2d');

    data1 = {
        datasets: [{
            "label":"Table Size",
            "data": [{{small_tables}}, {{medium_tables}}, {{large_tables}}],
            "backgroundColor": ["rgb(51, 122, 183)", "rgb(92, 184, 92)", "rgb(240, 173, 78)", "rgb(217, 83, 79)"]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Small tables (< 10 rows)',
            'Medium tables (< 20 rows)',
            'Large tables (> 20 rows)'
        ]
    };

    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data1,
        options: Chart.defaults.doughnut
    });


    /*
     *  CHART 2 & 3: Donut TABLE RATIO and PAGE Ratio
     */
    var total_pages = 0;
    var table_pages = 0;
    var pdf_with_tables = 0;
    var pdf_without_tables = 0;


    // Extract info from json
    for (var key in stats) {
        total_pages += stats[key].n_pages;
        table_pages += stats[key].n_tables_pages;
        if (stats[key].n_tables_pages > 0) {
            pdf_with_tables += 1;
        } else {
            pdf_without_tables += 1;
        }
    }

    var ctx2 = document.getElementById('donut2').getContext('2d');
    var ctx3 = document.getElementById('donut3').getContext('2d');


    data2 = {
        datasets: [{
            "label":"Processed PDF",
            "data": [table_pages, total_pages - table_pages],
            "backgroundColor": ["rgb(92, 184, 92)", "rgb(51, 122, 183)", "rgb(240, 173, 78)", "rgb(217, 83, 79)"]
        }],
        labels: [
            'Total pages with tables',
            'Total pages without tables'
        ]
    };
    data3 = {
        datasets: [{
            "label":"Table Ratio",
            "data": [pdf_with_tables, pdf_without_tables],
            "backgroundColor": ["rgb(92, 184, 92)", "rgb(51, 122, 183)", "rgb(240, 173, 78)", "rgb(217, 83, 79)"]
        }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'PDF containing at least one table',
            'PDF without any tables'
        ]
    };

    var myDoughnutChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: data2,
        options: Chart.defaults.doughnut
    });
    var myDoughnutChart3 = new Chart(ctx3, {
        type: 'doughnut',
        data: data3,
        options: Chart.defaults.doughnut
    });

    /*
        BUBBLE CHART
     */
    var canvas_bubble = document.getElementById('bubble')
    var ctx_bubble = canvas_bubble.getContext('2d');

    // Create Datapoints
    var datapointsSmall = [];
    var datapointsMedium = [];
    var datapointsLarge = [];
    var datapointsHuge = [];

    for (var key in stats) {
        var bubble = {
            x: stats[key].n_table_rows,
            y: stats[key].n_tables_pages,
            r: Math.round(1.2 * Math.log(stats[key].n_pages/30.0 + 1) / Math.log(1.05)), //FIXME formula also 1/3 works
            url: stats[key].url
        }

        var pages = stats[key].n_pages;
        if (pages > 100) {
            datapointsHuge.push(bubble);
        } else if (pages > 50) {
            datapointsLarge.push(bubble);
        } else if (pages > 10) {
            datapointsMedium.push(bubble);
        } else {
            datapointsSmall.push(bubble);
        }
    }

    function generateColors(length, id) {
        // Generate colors Small
        var graphColors = [];
        var graphOutlines = [];
        var hoverColor = [];

        var internalDataLength = datapointsSmall.length + datapointsHuge.length + datapointsMedium.length
                                    + datapointsLarge.length + 1;
        i = 0;
        while (i < internalDataLength) {
            var baseColor = baseColors[id];

            var randomR = baseColor[0];
            var randomG = baseColor[1];
            var randomB = baseColor[2];

            var graphBackground = "rgb("
                + randomR + ", "
                + randomG + ", "
                + randomB + ")";
            graphColors.push(graphBackground);

            var graphOutline = "rgb("
                + (randomR - 80) + ", "
                + (randomG - 80) + ", "
                + (randomB - 80) + ")";
            graphOutlines.push(graphOutline);

            var hoverColors = "rgb("
                + (randomR + 25) + ", "
                + (randomG + 25) + ", "
                + (randomB + 25) + ")";
            hoverColor.push(hoverColors);

            i++;
        }

        return [graphColors, graphOutlines, hoverColor]
    };

    var generatedSmall = generateColors(datapointsSmall.length, 0);
    var generatedMedium = generateColors(datapointsSmall.length, 1);
    var generatedLarge= generateColors(datapointsSmall.length, 2);
    var generatedHuge = generateColors(datapointsSmall.length, 3);

    var data_bubble = {
        datasets: [{
            "label": ["PDF < 10 pages"],
            "data": datapointsSmall,
            "backgroundColor": generatedSmall[0],
            "hoverBackgroundColor": generatedSmall[2],
            "borderColor": generatedSmall[1]
            }, {
            "label": ["PDF < 50 pages"],
            "data": datapointsMedium,
            "backgroundColor": generatedMedium[0],
            "hoverBackgroundColor": generatedMedium[2],
            "borderColor": generatedMedium[1]
            }, {
            "label": ["PDF < 100 pages"],
            "data": datapointsLarge,
            "backgroundColor": generatedLarge[0],
            "hoverBackgroundColor": generatedLarge[2],
            "borderColor": generatedLarge[1]
            }, {
            "label": ["PDF > 100 pages"],
            "data": datapointsHuge,
            "backgroundColor": generatedHuge[0],
            "hoverBackgroundColor": generatedHuge[2],
            "borderColor": generatedHuge[1]
            }

        ]
    };


    // For a bubble chart
    var myBubbleChart = new Chart(ctx_bubble,{
        type: 'bubble',
        data: data_bubble,
        options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of tables'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of table rows'
                        }
                    }]
                }
            }
        });

    canvas_bubble.onclick = function(e) {
        var activePoint = myBubbleChart.getElementAtEvent(e);
        if (!activePoint.length) return; // return if not clicked on slice
        // Get URL
        window.open("http://" + myBubbleChart.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index].url.substring(5));
    }
</script>
<style>
    .node {
        cursor: pointer;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node text {
        font: 10px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

</style>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    var margin = {top: 20, right: 120, bottom: 20, left: 120},
        width = 1600 - margin.right - margin.left,
        height = 900 - margin.top - margin.bottom;

    var i = 0,
        duration = 750,
        root;

    var tree = d3.layout.tree()
        .size([height, width]);

    var diagonal = d3.svg.diagonal()
        .projection(function(d) { return [d.y, d.x]; });

    var svg = d3.select("#hierarchy").append("svg")
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


    /*
        FIX YANN: serve json from mysql db instead of disk
     */
    var hierarchy = {{hierarchy | safe}};

    root = hierarchy;
    root.x0 = height / 2;
    root.y0 = 0;

    root.children.forEach(collapse);
    update(root);

    d3.select(self.frameElement).style("height", "800px");

    function update(source) {

        // Compute the new tree layout.
        var nodes = tree.nodes(root).reverse(),
            links = tree.links(nodes);

        // Normalize for fixed-depth.
        nodes.forEach(function(d) { d.y = d.depth * 180; });

        // Update the nodes…
        var node = svg.selectAll("g.node")
            .data(nodes, function(d) { return d.id || (d.id = ++i); });

        // Enter any new nodes at the parent's previous position.
        var nodeEnter = node.enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
            .on("click", click);

        nodeEnter.append("circle")
            .attr("r", 1e-6)
            .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

        nodeEnter.append("text")
            .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
            .attr("dy", ".35em")
            .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
            .text(function(d) { return d.name; })
            .style("fill-opacity", 1e-6);

        // FIXME added Yann
        nodeEnter.append("text")
            .attr("dy", function(d){return +20})
            .attr("dx", function(d){return -20})
            .text(function(d){return d.npdf})

        // Transition nodes to their new position.
        var nodeUpdate = node.transition()
            .duration(duration)
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

        nodeUpdate.select("circle")
            .attr("r", 4.5)
            .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

        nodeUpdate.select("text")
            .style("fill-opacity", 1);

        // Transition exiting nodes to the parent's new position.
        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
            .remove();

        nodeExit.select("circle")
            .attr("r", 1e-6);

        nodeExit.select("text")
            .style("fill-opacity", 1e-6);

        // Update the links…
        var link = svg.selectAll("path.link")
            .data(links, function(d) { return d.target.id; })


        // Enter any new links at the parent's previous position.
        link.enter().insert("path", "g")
            .attr("class", "link")
            .attr("d", function(d) {
                var o = {x: source.x0, y: source.y0};
                return diagonal({source: o, target: o});
            });


        // Transition links to their new position.
        link.transition()
            .duration(duration)
            .attr("d", diagonal);

        // Transition exiting nodes to the parent's new position.
        link.exit().transition()
            .duration(duration)
            .attr("d", function(d) {
                var o = {x: source.x, y: source.y};
                return diagonal({source: o, target: o});
            })
            .remove();

        // Stash the old positions for transition.
        nodes.forEach(function(d) {
            d.x0 = d.x;
            d.y0 = d.y;
        });
    }

    // Toggle children on click.
    function click(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        update(d);
    }

    function expand(d){
        var children = (d.children)?d.children:d._children;
        if (d._children) {
            d.children = d._children;
            d._children = null;
        }
        if(children)
            children.forEach(expand);
    }

    function expandLevel(d, l){
        if (l <= 0) {
            return;
        }
        var children = (d.children)?d.children:d._children;
        if (d._children) {
            d.children = d._children;
            d._children = null;
        }
        if(children)
            children.map(d => {return expandLevel(d, l-1);});
    }

    function expandAll(){
        expandLevel(root, 5);
        update(root);
    }

    function collapseAll(){
        root.children.forEach(collapse);
        collapse(root);
        update(root);
    }

    function collapse(d) {
        if (d.children) {
            d._children = d.children;
            d._children.forEach(collapse);
            d.children = null;
        }
    }

</script>

{% endblock %}