{% extends 'layout.html' %}

{% block headerscripts %}
<!-- Social Buttons CSS -->
<!-- <link href="../static/vendor/bootstrap-social/bootstrap-social.css" rel="stylesheet"> -->
<script>
    // Taken from https://hackernoon.com/copying-text-to-clipboard-with-javascript-df4d4988697f
    function copyCurrentUrlToClipboard() {
        el = document.createElement('textarea');
        el.value = window.location.href;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    };

    function copyUrlToClipboard() {
        el = document.createElement('textarea');
        el.value = document.getElementById('pdf-url').innerText;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    };
    function openURL(url) {
        var url = document.getElementById('pdf-url').innerText;
       window.open("http://" + url)    //FIXME https? none at all?
    }
</script>
{% endblock %}


{% block body %}
<h1 class="page-header"> <strong>Statistics</strong>
    <div class="pull-right">{{domain}}</div>
    <div>Crawl-ID: {{cid}} <!--<div class="pull-right"> {{end_time}}</div>--></div>

</h1>
<div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-file-pdf-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_success}} / {{n_files}}</div>
                            <div>PDF analysed / PDF crawled</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_tables}}</div>
                            <div>Tables found</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-align-justify fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_rows}}</div>
                            <div>Total Table Rows</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-times-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{n_errors}}</div>
                            <div>PDF files with processing errors</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Processed files (Larger radius indicates more pages)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <canvas id = "bubble"></canvas>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
     <div class="col-lg-4">
         <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-share-alt fa-fw"></i> Share this page</a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="list-group-item">
                        <i class="fa  fa-fw"></i> Copy page URL
                        <span class="pull-right">
                        <a onclick="copyCurrentUrlToClipboard()" class="btn btn-social-icon"><i class="fa fa-save "></i></a>
                        </span>
                </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw"></i> Send URL by email
                        <span class="pull-right">
                        <a title="Email a friend" href="#" onclick="javascript:window.location='mailto:?subject=PDF Crawl App&body=Have a look at these statistics: ' + window.location;"  class="btn btn-social-icon"><i class="fa fa-envelope"></i></a>

                            <!-- Could add more buttons to share on different platforms here !
                        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        -->
                        </span>
                </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-gear fa-fw"></i> Download selected PDFs
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" onclick="changeOnClick('single')" class="btn btn-outline btn-primary">Single</button>
                        <button type="button" onclick="changeOnClick('multiple')" class="btn btn-outline btn-primary">Multiple</button>
                        <button type="button" onclick="changeOnClick('dataset')" class="btn btn-outline btn-primary">Dataset</button>
                    </div>
                </div>
                <br>
                <div id="single" class="list-group" style="display:none;">
                    <div class="list-group-item-info text-center" style="display:block;" id="single-info"> Select a pdf by clicking on a bubble.</div>
                    <a class="list-group-item">
                        <i class="fa fa-search fa-fw"></i> Name of PDF clicked
                        <br>
                        <span class="text-muted small"><em id="pdf-name"></em>
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-globe  fa-fw"></i> URL of PDF
                        <br>
                        <div class="text-muted small uneditable-textarea" id="pdf-url"></div>
                    </a>
                    <br>
                    <div class="text-center">
                        <button type="button" onclick="copyUrlToClipboard()" class="btn btn-outline btn-success btn-sm"><i class="fa fa-save "></i> Copy URL to clipboard</button>
                        <button type="button" onclick="openURL()" class="btn btn-outline btn-success btn-sm"><i class="fa  fa-download "></i> Download</button>
                    </div>

                </div>
                <div id="multiple" class="" style="display:none;">
                    <div class="list-group-item-info text-center" style="display:block;" id="multiple-info"> Select multiple files by clicking on their bubbles.</div>
                    <div class="pre-scrollable list-group" id="dynamic-list">
                    </div>

                    <div class="text-center" id="multiple-buttons" style="display:none;">
                        <button type="button" onclick="cancelSelection()" class="btn btn-outline btn-default btn-sm">Cancel Selection</button>
                        <button type="button" onclick="downloadAll(multipleUrlArray)" class="btn btn-outline btn-success btn-sm"><i class="fa  fa-download "></i> Download All</button>
                    </div>
                </div>
                <div id="dataset" class="list-group" style="display:none;">
                    <div class="list-group-item-info text-center" style="display:block;" id="dataset-info"> Select a dataset by clicking on one of its members. </div>
                    <a class="list-group-item">
                        <i class="fa fa-search fa-fw"></i> Label of Dataset clicked
                        <span class="text-muted small pull-right"><em id="dataset-selection"></em>
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-folder fa-fw"></i> Number of PDF in Dataset
                        <div class="text-muted small pull-right" id="dataset-number"></div>
                    </a>
                    <br>
                    <div class="text-center">
                        <button type="button" onclick="downloadAll(datasetUrlArray)" class="btn btn-outline btn-success btn-sm"><i class="fa  fa-download "></i> Download All</button>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<div class="row">
    <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-gear fa-fw"></i> Additional Statistics: raw numbers
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">
                            <i class="fa fa-search fa-fw"></i> Finished at
                            <span class="pull-right text-muted small"><em>{{end_time}}</em>
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-clock-o  fa-fw"></i> Crawling duration
                            <span class="pull-right text-muted small"><em>{{crawl_total_time}} minutes</em>
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-clock-o  fa-fw"></i> Processing duration
                            <span class="pull-right text-muted small"><em>{{proc_total_time}} minutes</em>
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-file fa-fw"></i> Total number pages processed
                            <span class="pull-right text-muted small"><em>{{n_pages}}</em>
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-file-pdf-o fa-fw"></i> Oldest PDF
                            <span class="pull-right text-muted small"><em>{{oldest_pdf}}</em>
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-file-pdf-o fa-fw"></i> Most recent PDF
                            <span class="pull-right text-muted small"><em>{{most_recent_pdf}}</em>
                            </span>
                        </a>
                         <a class="list-group-item">
                            <i class="fa fa-file-pdf-o fa-fw"></i> Disk size of crawled PDF in Mb
                            <span class="pull-right text-muted small"><em>{{disk_size}}</em>
                            </span>
                        </a>
                        <button class="list-group-item" data-container="body" data-toggle="popover" data-placement="left" data-content="Tables with 10 rows or less">
                            <i class="fa fa-navicon  fa-fw" ></i> Small Tables found
                            <i class="fa fa-info-circle  fa-fw" ></i>
                            <span class="pull-right text-muted small "><em>{{small_tables}}</em>
                            </span>
                        </button>
                        <button class="list-group-item" data-container="body" data-toggle="popover" data-placement="left" data-content="Tables with 20 rows or less">
                            <i class="fa fa-th fa-fw"></i> Medium Tables found
                            <i class="fa fa-info-circle  fa-fw" ></i>
                            <span class="pull-right text-muted small"><em>{{medium_tables}}</em>
                            </span>
                        </button>
                        <button class="list-group-item" data-container="body" data-toggle="popover" data-placement="left" data-content="Tables with more than 20 rows">
                            <i class="fa fa-th-large  fa-fw"></i> Large Tables found
                            <i class="fa fa-info-circle  fa-fw" ></i>
                            <span class="pull-right text-muted small"><em>{{large_tables}}</em>
                            </span>
                        </button>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Tables Sizes
          </div>
          <div class="panel-body">
              <canvas id = "donut1"></canvas>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> Total PDF with Tables
          </div>
          <div class="panel-body">
              <canvas id = "donut3"></canvas>
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Website Hierarchy
                <div class="pull-right">
                    <button class="btn btn-default btn-outline btn-sm" onclick="expandAll()">Expand All</button>
                    <button class="btn btn-default btn-outline btn-sm" onclick="collapseAll()">Collapse All</button>
                    <a class="btn btn-success btn-outline btn-sm" href={{url_for('hierarchy_download', cid=cid)}}>Download Hierarchy as JSON</a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id = "hierarchy"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

{% endblock %}

{% block addscripts %}
<!-- Chart.js JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
    /*
     * DOWNLOAD Section JS
     */

    // JQuery snippet to keep only one mode active
    $(".btn-group > .btn").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    });

    // Keep list of pdf in set to download
    var multipleUrlArray = []; //used for multiple
    var datasetUrlArray = []; //used for dataset

    // retrieves Pdf name from url
    function getPDFName(url) {
        var n = url.lastIndexOf('/');
        var name = url.substring(n + 1);
        return name;
    }

    // concels selection
    function cancelSelection() {
        multipleUrlArray = []
        document.getElementById("dynamic-list").innerHTML = "";
        //Remove buttons
        document.getElementById('multiple-buttons').style.display = "none";
        //Add info
        document.getElementById('multiple-info').style.display = "block";

    }

    /**
     * Download a list of files.
     * @author speedplane
     * https://stackoverflow.com/questions/2339440/download-multiple-files-with-a-single-action
     */
    function downloadAll(files) {
        //var files = multipleUrlArray;
        function download_next(i) {
            if (i >= files.length) {
              return;
            }
            var a = document.createElement('a');
            a.href = files[i];
            a.target = '_parent';
            // Use a.download if available, it prevents plugins from opening.
            if ('download' in a) {
              a.download = files[i];
            }
            // Add a to the doc for click to work.
            (document.body || document.documentElement).appendChild(a);
            if (a.click) {
              a.click(); // The click method is supported by most browsers.
            } else {
              $(a).click(); // Backup using jquery
            }
            // Delete the temporary link.
            a.parentNode.removeChild(a);
            // Download the next file with a small timeout. The timeout is necessary
            // for IE, which will otherwise only download the first file.
            setTimeout(function() {
              download_next(i + 1);
            }, 500);
        }

        // Initiate the first download.
        download_next(0);
    }

    // Function to change onclick function depending on mode and show correct buttons pressed
    function changeOnClick(mode) {
        switch (mode) {
            case "single":
                // Display div and hide others
                document.getElementById('single').style.display = "block";
                document.getElementById('multiple').style.display = "none";
                document.getElementById('dataset').style.display = "none";

                canvas_bubble.onclick = function download(e) {
                    var activePoint = myBubbleChart.getElementAtEvent(e);
                    if (!activePoint.length) return; // return if not clicked on slice
                    // Get URL
                    var object = myBubbleChart.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index];
                    var url = object.url;

                    // Display info on webpage
                    document.getElementById('pdf-url').innerHTML = url;
                    document.getElementById('pdf-name').innerHTML = getPDFName(url);

                    // Remove info
                    document.getElementById('single-info').style.display = "none";
                }
                break;
            case "multiple":
                 // Display div and hide others
                document.getElementById('single').style.display = "none";
                document.getElementById('multiple').style.display = "block";
                document.getElementById('dataset').style.display = "none";

                canvas_bubble.onclick = function download(e) {
                    var activePoint = myBubbleChart.getElementAtEvent(e);
                    if (!activePoint.length) return; // return if not clicked on slice

                    // Get URL and add it to list and screen
                    var object = myBubbleChart.data.datasets[activePoint[0]._datasetIndex].data[activePoint[0]._index];
                    var url = "http://" + object.url;

                    if (! multipleUrlArray.includes(url)) {
                        multipleUrlArray.push(url);
                        var ul = document.getElementById("dynamic-list");
                        var li = document.createElement("li");
                        li.setAttribute('class', 'list-group-item');
                        li.appendChild(document.createTextNode(getPDFName(url)));
                        ul.appendChild(li);
                    }

                    // Remove info
                    document.getElementById('multiple-info').style.display = "none";

                    // Add buttons
                    document.getElementById('multiple-buttons').style.display = "block";
                };
                break;
            case "dataset":
                 // Display div and hide others
                document.getElementById('single').style.display = "none";
                document.getElementById('multiple').style.display = "none";
                document.getElementById('dataset').style.display = "block";

                canvas_bubble.onclick = function download(e) {
                    var activePoint = myBubbleChart.getElementAtEvent(e);
                    if (!activePoint.length) return; // return if not clicked on slice

                    // Get Dataset
                    var fullDataset = myBubbleChart.data.datasets[activePoint[0]._datasetIndex];
                    var dataset = fullDataset.data;
                    var label = fullDataset.label;

                    // Retrieve all URLs
                    datasetUrlArray = [];
                    var datasetLength = dataset.length;
                    for (var i = 0; i < datasetLength; i++) {
                        var url = "http://" + dataset[i].url;
                         if (! multipleUrlArray.includes(url)) {
                             datasetUrlArray.push(url);
                         }
                    }

                    // Give text feedback
                    document.getElementById("dataset-selection").innerHTML = label;
                    document.getElementById("dataset-number").innerHTML = datasetLength;

                    // Remove info
                    document.getElementById('dataset-info').style.display = "none";

                }
                break;
            default:
        }
    }

    /*
     *  Constants
     */
    var stats = {{ stats|safe }};
    var baseColors = [[51, 122, 183], [92, 184, 92], [240, 173, 78], [217, 83, 79]];

    /*
     *  CHART 1 : Donut TABLE SIZE
     */
    var ctx = document.getElementById('donut1').getContext('2d');

    data1 = {
        datasets: [{
            "label":"Table Size",
            "data": [{{small_tables}}, {{medium_tables}}, {{large_tables}}],
            "backgroundColor": ["rgb(51, 122, 183)", "rgb(92, 184, 92)", "rgb(240, 173, 78)", "rgb(217, 83, 79)"]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Small tables (< 10 rows)',
            'Medium tables (< 20 rows)',
            'Large tables (> 20 rows)'
        ]
    };

    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data1,
        options: Chart.defaults.doughnut
    });


    /*
     *  CHART 2: Donut TABLE RATIO
     */
    var total_pages = 0;
    var table_pages = 0;
    var pdf_with_tables = 0;
    var pdf_without_tables = 0;


    // Extract info from json
    for (var key in stats) {
        total_pages += stats[key].n_pages;
        table_pages += stats[key].n_tables;
        if (stats[key].n_tables > 0) {
            pdf_with_tables += 1;
        } else {
            pdf_without_tables += 1;
        }
    }

    var ctx2 = document.getElementById('donut3').getContext('2d');


    data2 = {
        datasets: [{
            "label":"Table Ratio",
            "data": [pdf_with_tables, pdf_without_tables],
            "backgroundColor": ["rgb(92, 184, 92)", "rgb(51, 122, 183)", "rgb(240, 173, 78)", "rgb(217, 83, 79)"]
        }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'PDF containing at least one table',
            'PDF without any tables'
        ]
    };

    var myDoughnutChart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: data2,
        options: Chart.defaults.doughnut
    });

    /*
        Chart 3: Bubble Chart
     */
    var canvas_bubble = document.getElementById('bubble')
    var ctx_bubble = canvas_bubble.getContext('2d');

    // Create Datapoints
    var datapointsSmall = [];
    var datapointsMedium = [];
    var datapointsLarge = [];
    var datapointsHuge = [];

    for (var key in stats) {
        var bubble = {
            x: stats[key].n_table_rows,
            y: stats[key].n_tables,
            r: Math.round(Math.log(stats[key].n_pages/30.0 + 1) / Math.log(1.08)), //FIXME formula also 1/3 works
            url: key
        }

        var pages = stats[key].n_pages;
        if (pages > 100) {
            datapointsHuge.push(bubble);
        } else if (pages > 50) {
            datapointsLarge.push(bubble);
        } else if (pages > 10) {
            datapointsMedium.push(bubble);
        } else {
            datapointsSmall.push(bubble);
        }
    }

    function generateColors(length, id) {
        // Generate colors Small
        var graphColors = [];
        var graphOutlines = [];
        var hoverColor = [];

        var internalDataLength = datapointsSmall.length + datapointsHuge.length + datapointsMedium.length
                                    + datapointsLarge.length + 1;
        i = 0;
        while (i < internalDataLength) {
            var baseColor = baseColors[id];

            var randomR = baseColor[0];
            var randomG = baseColor[1];
            var randomB = baseColor[2];

            var graphBackground = "rgb("
                + randomR + ", "
                + randomG + ", "
                + randomB + ")";
            graphColors.push(graphBackground);

            var graphOutline = "rgb("
                + (randomR - 80) + ", "
                + (randomG - 80) + ", "
                + (randomB - 80) + ")";
            graphOutlines.push(graphOutline);

            var hoverColors = "rgb("
                + (randomR + 25) + ", "
                + (randomG + 25) + ", "
                + (randomB + 25) + ")";
            hoverColor.push(hoverColors);

            i++;
        }

        return [graphColors, graphOutlines, hoverColor]
    };

    var generatedSmall = generateColors(datapointsSmall.length, 0);
    var generatedMedium = generateColors(datapointsSmall.length, 1);
    var generatedLarge= generateColors(datapointsSmall.length, 2);
    var generatedHuge = generateColors(datapointsSmall.length, 3);

    var data_bubble = {
        datasets: [{
            "label": ["PDF < 10 pages"],
            "data": datapointsSmall,
            "backgroundColor": generatedSmall[0],
            "hoverBackgroundColor": generatedSmall[2],
            "borderColor": generatedSmall[1]
            }, {
            "label": ["PDF < 50 pages"],
            "data": datapointsMedium,
            "backgroundColor": generatedMedium[0],
            "hoverBackgroundColor": generatedMedium[2],
            "borderColor": generatedMedium[1]
            }, {
            "label": ["PDF < 100 pages"],
            "data": datapointsLarge,
            "backgroundColor": generatedLarge[0],
            "hoverBackgroundColor": generatedLarge[2],
            "borderColor": generatedLarge[1]
            }, {
            "label": ["PDF > 100 pages"],
            "data": datapointsHuge,
            "backgroundColor": generatedHuge[0],
            "hoverBackgroundColor": generatedHuge[2],
            "borderColor": generatedHuge[1]
            }

        ]
    };


    var myBubbleChart = new Chart(ctx_bubble,{
        type: 'bubble',
        data: data_bubble,
        options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of tables'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of table rows'
                        }
                    }]
                }
            }
        });


</script>
<style>
    .node {
        cursor: pointer;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node text {
        font: 10px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

</style>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
    var margin = {top: 20, right: 120, bottom: 20, left: 120},
        width = 1600 - margin.right - margin.left,
        height = 900 - margin.top - margin.bottom;

    var i = 0,
        duration = 750,
        root;

    var tree = d3.layout.tree()
        .size([height, width]);

    var diagonal = d3.svg.diagonal()
        .projection(function(d) { return [d.y, d.x]; });

    var svg = d3.select("#hierarchy").append("svg")
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


    /*
        FIX YANN: serve json from mysql db instead of disk
     */
    var hierarchy = {{hierarchy | safe}};

    root = hierarchy;
    root.x0 = height / 2;
    root.y0 = 0;

    root.children.forEach(collapse);
    update(root);

    d3.select(self.frameElement).style("height", "800px");

    function update(source) {

        // Compute the new tree layout.
        var nodes = tree.nodes(root).reverse(),
            links = tree.links(nodes);

        // Normalize for fixed-depth.
        nodes.forEach(function(d) { d.y = d.depth * 180; });

        // Update the nodes…
        var node = svg.selectAll("g.node")
            .data(nodes, function(d) { return d.id || (d.id = ++i); });

        // Enter any new nodes at the parent's previous position.
        var nodeEnter = node.enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
            .on("click", click);

        nodeEnter.append("circle")
            .attr("r", 1e-6)
            .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

        nodeEnter.append("text")
            .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
            .attr("dy", ".35em")
            .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
            .text(function(d) { return d.name; })
            .style("fill-opacity", 1e-6);

        // FIXME added Yann
        nodeEnter.append("text")
            .attr("dy", function(d){return +20})
            .attr("dx", function(d){return -20})
            .text(function(d){return d.npdf})

        // Transition nodes to their new position.
        var nodeUpdate = node.transition()
            .duration(duration)
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

        nodeUpdate.select("circle")
            .attr("r", 4.5)
            .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

        nodeUpdate.select("text")
            .style("fill-opacity", 1);

        // Transition exiting nodes to the parent's new position.
        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
            .remove();

        nodeExit.select("circle")
            .attr("r", 1e-6);

        nodeExit.select("text")
            .style("fill-opacity", 1e-6);

        // Update the links…
        var link = svg.selectAll("path.link")
            .data(links, function(d) { return d.target.id; })


        // Enter any new links at the parent's previous position.
        link.enter().insert("path", "g")
            .attr("class", "link")
            .attr("d", function(d) {
                var o = {x: source.x0, y: source.y0};
                return diagonal({source: o, target: o});
            });


        // Transition links to their new position.
        link.transition()
            .duration(duration)
            .attr("d", diagonal);

        // Transition exiting nodes to the parent's new position.
        link.exit().transition()
            .duration(duration)
            .attr("d", function(d) {
                var o = {x: source.x, y: source.y};
                return diagonal({source: o, target: o});
            })
            .remove();

        // Stash the old positions for transition.
        nodes.forEach(function(d) {
            d.x0 = d.x;
            d.y0 = d.y;
        });
    }

    // Toggle children on click.
    function click(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        if (d.children == null && d.name.indexOf(".pdf") !== -1) {
            window.open("https://" + d.url);
        }
        update(d);
    }

    function expand(d){
        var children = (d.children)?d.children:d._children;
        if (d._children) {
            d.children = d._children;
            d._children = null;
        }
        if(children)
            children.forEach(expand);
    }

    function expandLevel(d, l){
        if (l <= 0) {
            return;
        }
        var children = (d.children)?d.children:d._children;
        if (d._children) {
            d.children = d._children;
            d._children = null;
        }
        if(children)
            children.map(d => {return expandLevel(d, l-1);});
    }

    function expandAll(){
        expandLevel(root, 2);
        update(root);
    }

    function collapseAll(){
        root.children.forEach(collapse);
        collapse(root);
        update(root);
    }

    function collapse(d) {
        if (d.children) {
            d._children = d.children;
            d._children.forEach(collapse);
            d.children = null;
        }
    }

</script>
<script>
   // tooltip demo
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    // popover demo
    $("[data-toggle=popover]")
        .popover()
</script>
{% endblock %}