{% extends 'layout.html' %}

{% block body %}

<div class="row">
  <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete</span>
      </div>
  </div>
</div>

<div class="col-lg-12">
  <h1 class="page-header"> Data analysis. </h1>
    {% if session.logged_in != NULL %}
    <p class="lead">The tool is now performing table detection on the crawled PDF.</p>
    <p class="lead">In this demo version only 10 files will be analysed, expect between 10 and 100 minutes processing time. </p>
    <p class="lead">If you want you can now close this page and come back later to see the results in the Statistics tab. </p>
    {% endif %}
</div>

<script>
     window.setTimeout(function(){
          // Move to a new location or you can do something else
           window.location.href = '{{url_for("processing")}}';
     }, {{wait}});

 </script>

{% endblock %}
